#root {
  width: clamp(320px, 100%, 1280px);
  max-width: 704px;
  max-height: 100svh;
  margin: 0 auto;
  padding: 32px;
  text-align: center;

  font-size: 150%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
